/* .fullScreen { 
    background-image: url(../../../photos/pexels-photo-1166643.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    height:100vh;
}; */
.myName {
    font-family: "Exo", "sans-serif"; 
    padding-left: 14.5%;
}
.img-fluid {
    max-width: 100%;
    height: auto !important;
}
.firstTitle{
    font-family: "Exo", "sans-serif"; 
    padding-left: 14.5%;
}
.plsWork:hover {
    box-shadow: 0px 3px 3px 3px rgb(138, 137, 137);
}

 .forAboutPage2 {
    font-size: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    /* color: rgb(35, 145, 170); */
    text-shadow: 0px 0px 10px rgb(246, 247, 246);
    /* margin-bottom: -27px; */
    padding-bottom: 3%;
} 

.forAboutPage2:hover {
    cursor:pointer;
}
 .forAboutPage1 {
     font-size: 100px;
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     text-align: center;
     /* color: rgb(35, 145, 170); */
     text-shadow: 0px 0px 10px rgb(246, 247, 246);
     /* margin-bottom: -27px; */
     padding-bottom: 3%;
 }
 .forAboutPage1:hover {
    cursor:pointer;
 }
.aboutMe, .aboutMe p {
    font-family: 'Open Sans', sans-serif;
}
.aboutMe{
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Open Sans', sans-serif;
}
.myListTitle {
    margin-left: 25%;
}
.forMargin {
    margin-left: 1%;
    margin-right: 1%;
    clear:both;
}
#aboutMe{
    height: 100vh;
    margin: 0 auto;
    position: relative;
}
.centerThisButton {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin-bottom: 60px;
}
.mySkills {
    margin-top: 10%;
    /* height: 100vh; */
    height: 1200px;
}
 .forAboutPage4 {
    font-size: 100px;
    /* position: absolute; */
    /* bottom: 0;
    left: 0;
    right: 0; */
    text-align: center;
    /* color: rgb(35, 145, 170); */
    text-shadow: 0px 0px 10px rgb(246, 247, 246);
    /* margin-bottom: -27px; */
    padding-bottom: 3%;
} 

.forAboutPage4:hover {
    cursor:pointer;
}
 .forAboutPage3 {
     font-size: 100px;
     /* position: absolute; */
     /* bottom: 0;
     left: 0;
     right: 0; */
     text-align: center;
     /* color: rgb(35, 145, 170); */
     text-shadow: 0px 0px 10px rgb(246, 247, 246);
     /* margin-bottom: -27px; */
     padding-bottom: 3%;
 }
 .forAboutPage3:hover {
    cursor:pointer;
 }
 .skills-toggle {
     text-align: center;
 }
 .certStyle {
    width: 100%;
 }
.allPics {
    width: 200px;
    height: 200px;
    transition: transform .5s;
    margin: 10px 10px 10px 10px;
    vertical-align: middle;
}
.allPics:hover {
    box-shadow: 3px 3px 3px 3px rgb(138, 137, 137);
    transform: scale3d(1.5, 1.5, 1.5);
}
.firstLogoCont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.forMoving{
    margin: 0 auto 6% auto;
    font-family: 'Open Sans', sans-serif;
}
.myProjects {
    clear: both;
}
.noBorder{
    border:none;
}
.nodeCenter {
    margin-top: 20%;
}
.reactCenter{
    margin-top: 30%;
}
.expressCenter{
    margin-top: 26%;
}
.fixMongo {
    width: 200px !important;
    height: 200px !important;
}
.mongoCenter {
    margin-top:15%;
}
.mongooseCenter {
    margin-top:35%;
}
.mysqlCenter{
    margin-top: 4%;
}
.sequelizeCenter{
    margin-top: 26%;
}
.mernCenter{
    margin-top: 20%;
}
.gitCenter{
    margin-top: 29%;
}
.fixAjax{
    width: 200px !important;
    height: 200px !important;
}
.ajaxCenter{
    margin-top: 18%;
}
.JsonCenter{
    margin-top: 28%;
}
.restCenter{
    margin-top: 36%;
}
.npmCenter{
    margin-top: 35%;
}
.yarnCenter{
    margin-top: 26%;
}
.terminalCenter {
    margin-top: 20%;
}
.fixHeroku {
    width: 200px !important;
    height: 200px !important;
}
.handlebarsCenter{
    margin-top: 30%;
}
.jqueryCenter{
    margin-top: 23%;
}
.photoshopCenter{
    margin-top: 25%;
}
.illustratorCenter{
    margin-top: 23%;
}
.indesignCenter{
    margin-top: 25%;
}