.fullscreen {
    height:100vh;
    background-size: cover;
    background-image: url(../../../photos/pexels-photo-1029606.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
}
.newFirst {
    padding-top: 10%;
    font-size: 60px;
    text-align:center;
    font-family: 'Exo', sans-serif;     
}
.initialText {
    font-size: 100px;
    text-align: center;
    padding-top: 2%;
    font-family: 'Exo',
    sans-serif;
    text-shadow: 4px 4px 4px #aaa;
}
.help {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.secondText {
    padding-top: 3%;
    font-family: 'Exo',
    sans-serif;
}
.thirdText {
    clear: both;
    text-align: center;
    padding-top: 1.5%;
    font-family: 'Exo',
    sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}
.centerBtn {
    text-align: center;
}
button {
    margin-top: 2%;
   font-family: 'Play',
   sans-serif;
}
.noEffect {
    text-decoration: none;
}
.name {
    padding-left: 2%;
}
 .fa-angle-down {
    font-size: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    /* color: rgb(35, 145, 170); */
    text-shadow: 0px 0px 10px rgb(246, 247, 246),
                 0px 0px 20px rgb(35, 145, 170),
                 0px 0px 30px rgb(35, 145, 170),
                 0px 0px 40px; 
    margin-bottom: -27px;
} 
 .fa-angle-up {
     font-size: 100px;
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     text-align: center;
     /* color: rgb(35, 145, 170); */
     text-shadow: 0px 0px 10px rgb(246, 247, 246),
         0px 0px 20px rgb(35, 145, 170),
         0px 0px 30px rgb(35, 145, 170),
         0px 0px 40px;
     margin-bottom: -27px;
 }