.fullscreen {
    height:100vh;
    background-size: cover;
    background-image: url(../../../photos/pexels-photo-1029606.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
}
.newFirst {
    padding-top: 10%;
    font-size: 60px;
    text-align:center;
}
.initialText {
    font-size: 100px;
    text-align: center;
    padding-top: 2%;
    font-family: 'Play',
    sans-serif;
    text-shadow:
    1px 1px 0 #CCC,
	2px 2px 0 #CCC,
	3px 3px 0 #444,
	4px 4px 0 #444,
	5px 5px 0 #444,
	6px 6px 0 #444;
}
/* .help {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */
.secondText {
    padding-top: 3%;
    font-family: 'Play',
    sans-serif;
}
/* .nme {
    padding-top: 2.5%;
    padding-left: 1%;
    text-shadow: 4px 4px 4px #aaa;
} */
.thirdText {
    clear: both;
    text-align: center;
    padding-top: 1.5%;
    font-family: 'Play',
    sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}
.centerBtn {
    text-align: center;
}
button {
    margin-top: 2%;
   font-family: 'Play',
   sans-serif;
}

.noEffect {
    text-decoration: none;
}